# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Dependency directories
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local

# Vercel
.vercel
